
html {
  background: grey;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  margin: auto;
}

.editor {
  margin: 0 0 0 10px;
  overflow-y: scroll;
}

.preview {
  line-height: 0;
}
.preview > * {
  line-height: initial;
}

h1, h2, h3, p {
  margin: 10px 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
}

.well {
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px 20px 5px 0px;
    background: #eee;
}

input {
  margin: 10px 0;
}

input[type='text'] {
  border: 1px solid grey;
  border-radius: 2px;
}

.code_editor {
  padding: 0.5rem 1rem;
  font-family: monospace;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  resize: vertical;
  min-height: 15em;
}

button {
  margin: 5px 0;
  border-radius: 0;
  padding: 4px 8px;
  border: 1px solid grey;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  flex-shrink: 0;
}

button:hover {
  background-color: #e6e6e6;
}

.color_area {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.color_pickers {
  flex-grow: 1;
}

#iro {
  padding-right: 20px;
}

.color_picker {
  font-family: monospace;
  width: 10ch;
  padding-left: 3ch;
  background: white no-repeat;
  background-size: 2ch 100%;
  font-size: 125%;
}

.song {
    display: flex;
    align-items: center;
}

.well > * {
    margin: 0 5px
}

.song_title {
    flex-grow: 1;
}

.meta_fields {
  width: 450px;
  max-width: 90%;
  font-size: 120%;
}

.image_preview {
  max-height: 48px;
  width: auto;
  max-width: 200px;
  vertical-align: middle;
}

.spinner {
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-256%201792%201792%22%3E%3Cpath%20d%3D%22M617.492%201123.797q0%2060-42.5%20102t-101.5%2042q-60%200-102-42t-42-102q0-60%2042-102t102-42q59%200%20101.5%2042t42.5%20102zm432%20192q0%2053-37.5%2090.5t-90.5%2037.5q-53%200-90.5-37.5t-37.5-90.5q0-53%2037.5-90.5t90.5-37.5q53%200%2090.5%2037.5t37.5%2090.5zm-608-640q0%2066-47%20113t-113%2047q-66%200-113-47t-47-113q0-66%2047-113t113-47q66%200%20113%2047t47%20113zm1040%20448q0%2046-33%2079t-79%2033q-46%200-79-33t-33-79q0-46%2033-79t79-33q46%200%2079%2033t33%2079zm-832-896q0%2073-51.5%20124.5t-124.5%2051.5q-73%200-124.5-51.5t-51.5-124.5q0-73%2051.5-124.5t124.5-51.5q73%200%20124.5%2051.5t51.5%20124.5zm464-192q0%2080-56%20136t-136%2056q-80%200-136-56t-56-136q0-80%2056-136t136-56q80%200%20136%2056t56%20136zm544%20640q0%2040-28%2068t-68%2028q-40%200-68-28t-28-68q0-40%2028-68t68-28q40%200%2068%2028t28%2068zm-208-448q0%2033-23.5%2056.5t-56.5%2023.5q-33%200-56.5-23.5t-23.5-56.5q0-33%2023.5-56.5t56.5-23.5q33%200%2056.5%2023.5t23.5%2056.5z%22%2F%3E%3C%2Fsvg%3E');
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  animation: spin 2s ease-in-out infinite;
  display: inline-block;
  vertical-align: middle;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.disabled {
  opacity: .5;
  pointer-events: none;
}

#version {
  font-size: 60%;
  opacity: .6;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}